body {
    background-color: #FFF4E9;  
}

html {
    scroll-behavior: smooth;
}


/* color options: #FFF4E9, #dbd0cb */ 

body {
    padding-top: env(safe-area-inset-top);
}

* {
    box-sizing: border-box;
}
  